Options +FollowSymlinks
RewriteEngine on

#--------------------------------------------------
# Répertoire public directement accessible
#--------------------------------------------------
RewriteRule ^public/.+ - [L]

#--------------------------------------------------
# Erreurs corrigeables.
#--------------------------------------------------
# /eleve => /eleves/
RewriteRule ^([a-z]+)$ /$1/ [L,R=301]


#--------------------------------------------------
# Passage URL / MVCD
#--------------------------------------------------
# /doc.htm
RewriteRule ^([a-zA-Z_]+)\.htm$ bootstrap.php?module=documentation&controller=index&view=$1&data=

# /eleve/
RewriteRule ^([^/]+)/$ bootstrap.php?module=$1&controller=index&view=index&data=

# /eleve/point/
RewriteRule ^([^/]+)/([^/]+)/$ bootstrap.php?module=$1&controller=$2&view=index&data=

# /eleve/inscription
RewriteRule ^([^/]+)/([^/]+)$ bootstrap.php?module=$1&controller=index&view=$2&data=

# /eleve/point/ajout
RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ bootstrap.php?module=$1&controller=$2&view=$3&data=

# /eleve/point/ajout/data
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/(.+)$ bootstrap.php?module=$1&controller=$2&view=$3&data=$4


#--------------------------------------------------
# Protection des données
#--------------------------------------------------
RewriteRule ^data/.* - [L,F]