/*********************************************************************************************

Version : Pour la deuxième partie - ext

/***********************************************************************************************

0. CSS Reset  --------------------------------  Start ! (toutes les pages)

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. Start ---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.edevoir span {	-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-o-transform: rotate(-15deg);/*writing-mode: tb-rl;*/text-transform:lowercase!important;}

#content ul {margin:0; padding:0; list-style-type: circle; list-style-position:inside;}
#content a { text-decoration: none; color: #424242;}
#content a:hover { text-decoration: underline; color:#666;} 
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}

ul {padding-left:15px;}
ul ul{list-style-type: square!important;}
#content li {margin-left:15px;}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 1. Content -------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.content-base {
padding-top:15px;
width:1000px;
margin:auto;
background:#f1f1ef url('/public/css/images/content-y-v3.jpg') top left scroll repeat-y; /*image y*/
padding-bottom:20px;

	min-height:100%;
}
	section {
	padding: 0 45px;
	}
/* Gestion de l'affichage global */	
#content {
	/*border:1px #F00 solid;*/ /*debug*/
font:normal 18px/1.4em "Georgia", "Palatino Linotype", "Book Antiqua", "Palatino", serif;
color:#5e5e5e;
	
	height:100%;	
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- 1. Titres et Paragraphes --------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#content p {
text-shadow:1px 1px 0px #fff;
}
#content h2:before {
	position:absolute;
	top:-24px;
	left:-45px;
	content: "";
	height:24px;
	width:1000px;
	background: url('/public/css/images/separateur-h2.jpg') top no-repeat;
}
#content h2:first-child:before {background-image:none!important;}
	
	#content h2 {
		position:relative;
		font:bold 28px/100% "Helvetica", "Arial", sans-serif;
	color:#676767;
	text-shadow:1px 1px 0px #fff;
	background-color:#f1f1f1;
		padding:16px 35px;
		margin-top:50px;
		margin-bottom:5px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
		outline: 1px solid #f6f6f4;
		outline-offset: -2px;
			-webkit-box-shadow: 0px 1px 1px #fff;
			-moz-box-shadow: 0px 1px 1px #fff;
			box-shadow: 0px 1px 1px #fff;
	}
	#content h2:first-child {margin-top:10px;}
	
	
/* - - TITRE H3 - - */
h3 {
text-transform:uppercase;
font-size:18px;
background:url('/public/css/images/bullet3.png') left scroll no-repeat;
padding-left:30px;
margin-top:25px;
}

/* les images (icones) */
h3.faq-question.faq-eleve, 3.faq-question.faq-correcteur {
font-size:20px;
text-transform:none;
text-shadow:1px 1px 0px #fff;
}
	h3.faq-question.faq-eleve {
	color:#e06c0e;
	background:url('/public/css/images/eleve2.png') left scroll no-repeat;
	}
	h3.faq-question.faq-correcteur {
	color:#006699;
	background:url('/public/css/images/correct.png') left scroll no-repeat;
	}
h3.faq-question.faq-eleve:after, h3.faq-question.faq-correcteur:after {content: " »";}
h3.faq-question.faq-eleve:before, h3.faq-question.faq-correcteur:before {content: "« ";}

/* bordure */
p.faq-reponse.faq-correcteur, p.faq-reponse.faq-eleve {
position:relative;
text-transform:none;
margin-left:40px;
padding-left:5px;
font-style:italic;
}
	p.faq-reponse.faq-eleve {
	border-left:2px solid #e06c0e;
	}
	p.faq-reponse.faq-correcteur {
	border-left:2px solid #006699;
	}

/* minis icones*/
p.faq-reponse.faq-correcteur:before , p.faq-reponse.faq-eleve:before{
position:absolute;
top:50%;
margin-top:-10px;
left:-25px;
content: "";
height:20px;
width:15px;
}
	p.faq-reponse.faq-correcteur:before {
	background:url('/public/css/images/correct-min.png') left scroll no-repeat;
	}
	p.faq-reponse.faq-eleve:before {
	background:url('/public/css/images/eleve2-min.png') left scroll no-repeat;
	}

/*Ajouter une réponse*/
p.faq-ajout-reponse {
padding-bottom:10px;
background:url('/public/css/images/separateur.png') bottom scroll no-repeat;
}



/* - - TITRE H2 Correcteurs- - */
.content-base h2 {
background:url('/public/css/images/h2.png') top left scroll no-repeat;
}
h2.correcteur-index-index-foire {
background:url('/public/css/images/h2-correcteur-index-index-foire.png') top left scroll no-repeat;
}
h2.correcteur-points-index {
background:url('/public/css/images/h2-correcteur-points-index.png') top left scroll no-repeat;
}
h2.h2_logs {
background:url('/public/css/images/h2-logs.png') top left scroll no-repeat;
}
h2.correcteur-exercice-index {
background:url('/public/css/images/h2-correcteur-exercice-index.png') top left scroll no-repeat;
}
h2.correcteur-index-liste-foire {
background:url('/public/css/images/h2-correcteur-index-liste-foire.png') top left scroll no-repeat;
}
h2.h2_actions {
background:url('/public/css/images/h2-h2_actions.png') top left scroll no-repeat;
}
h2.h2_exercice {
background:url('/public/css/images/h2-h2_exercice.png') top left scroll no-repeat;
}
/* - - TITRE H2 Eleves - */
h2.eleve-exercice-index {
background:url('/public/css/images/h2-eleve-exercice-index.png') top left scroll no-repeat;
}
h2.eleve-exercice-index-creation {
background:url('/public/css/images/h2-eleve-exercice-index-creation.png') top left scroll no-repeat;
}
h2.membre-exercice-index-actif {
background:url('/public/css/images/h2-membre-exercice-index-actif.png') top left scroll no-repeat;
}
h2.eleve-points-index {
background:url('/public/css/images/h2-eleve-points-index.png') top left scroll no-repeat;
}
h2.eleve-exercice-index-creation + a {
padding-left:16px;
background:url('/public/css/images/bullet.png') top left scroll no-repeat!important;
}


/* Supression des marges dans les listes */
p + ul {
margin-top:-17px!important;
}
	li p {
	margin-top:0;
	}

/* - - La classe .intro - - */
.content-base p.intro {
	text-align:center;
	font:bold 18px/100% "Helvetica", "Arial", sans-serif;
	color:#8d8d8d;
	text-indent:15px;
	text-shadow:1px 1px 0px #fff;
}
h2 + p.intro {
padding-bottom:10px;
margin-top:10px;
background:url('/public/css/images/separateur.png') bottom scroll no-repeat;
}

/* - - Différentitaion de la documentation - - */
.list-actions ul li > a {
	font:bold 18px/100% "Helvetica", "Arial", sans-serif;
	font-weight:bold;
}
	.list-actions ul li > a:hover {
	text-decoration:none!important;
	}
p.action-detail a {
color:#a6a6a6;
background:url('/public/css/images/doc-d.png') top left scroll no-repeat;
padding-left:20px;
}
/*p.action-detail {
	text-indent:7px;
}*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- 1.1 Petites Classes -------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* - - message important, dox-box - Classe globale - - */
.important, .infos, aside.doc-box  {
	display:inline-block;
outline: 1px solid #FFFFFF;
outline-offset: -2px;
font:bold 14px/1.3em Arial, Helvetica, sans-serif;
padding: .55em 1em .55em 1.3em;
text-shadow:1px 1px 0px #fff;
background: #ededed;
color:#c13f27;
border:1px solid #cecece;
margin:15px 15px;
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
		box-shadow: 1px 1px 1px rgba(0,0,0,.2);
background:#f1f1ef url('/public/css/images/important.png') center left scroll no-repeat;
}

	p.important, .infos  {
	font-size:16px;
	}
	p.important a, .infos a {
	text-decoration:underline!important;
	}


/* - - La classe .important _ rouge - - */
	.important:hover {
	background:url('/public/css/images/important-h.png') center left scroll no-repeat;
	color:#931414;
	background-color:#f0e8e8;
	}
	p.important a.doc-link {
	display:block;
	text-align:right;
	padding-right:16px;
	background:url('/public/css/images/bullet2.png') bottom right scroll no-repeat!important;
	}
/* - - La classe .info _ Bleu - - */
	.infos {
	color:#187ab3;
	}
	.infos:hover {
	background:url('/public/css/images/important-info.png') center left scroll no-repeat;
	color:#1180a9;
	background-color:#e6edf0;
	}

/* - - mini doc box bloc - - */
aside.doc-box {
	/*position:relative;
	left:50%;
	margin-left:-160px;*/
padding-left:44px;
margin-bottom:10px;
background:#f1f1ef url('/public/css/images/doc-box.png') center left scroll no-repeat;
font: 16px/1.2em Georgia, Helvetica, sans-serif;
color:#676767;
font-weight:bold;
text-align:left;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	border-radius: .25em;
}
aside.doc-box p{margin:0;}

	/*aside.doc-box:hover {
	background-color:#ececea!important;
	}*/
	aside.doc-box a{
	display:inline-block;
	padding-top:5px;
	font-weight:normal;
	}
	
/* - - Doc-box sur Span - - */	
span.doc-input {
text-align: center;
background: #ededed;
color:#c13f27;
border:1px solid #cecece;
margin:10px;
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
box-shadow: 1px 1px 1px rgba(0,0,0,.2);
-webkit-border-radius: .25em;
-moz-border-radius: .25em;
border-radius: .25em;
padding:3px;
outline: 1px solid #FFFFFF;
outline-offset: -2px;
}
	span.doc-input a {
	color:#7a7a7a!important;
	}
	
/* - - Classe sur la ListeAction - - */		
.list-actions {
border:1px dashed #ccc;
outline: 1px solid #fff;
outline-offset: -2px;
margin-bottom:15px;
}
/*.list-actions:hover {
background-color:#f1f1ef;
}*/
	.list-actions form{ /*centrage de l'élément*/
	width:300px;
	display:block;
	margin:auto;
	opacity:0.55;
	}
	.list-actions form:hover, .list-actions form:focus {
	opacity:1;
	}
	.list-actions form label {
	margin-top:5px;
	}
	.list-actions form select {
		width:300px;
	}
	
/* supression des propriétés sur default*/	
	.input_default {
	width:auto!important;
	}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 2. Contact - Les formulaires -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
form { /* classe globale pour les forms*/
margin-top:10px;
padding: 0 0 15px 0;
}
	form label { /* saut de ligne des labels*/
	color: #29241c;
	display:block;
	text-shadow:1px 1px 0px #fff;
	}
	form input[type=radio] + label, form input[type=checkbox] + label { /* annulation des sauts de lignes sur les radio et checkbox*/
	display:inline!important;
	}

	form input[type=text], form textarea, form input[type=email], form input[type=number], form input[type=password], select { /*propriété des input:text & textarea*/
		-webkit-border-radius: .4em;
		-moz-border-radius: .4em;
		border-radius: .4em;
	color: #042d2e;
	border: 2px solid #848484;
	padding:4px 4px;
	width:350px;
	margin-bottom:15px;
	/*outline: 2px solid #e1e1e1;
	outline-offset: -4px;*/
		-webkit-box-shadow: 3px 3px 2px rgba(0,0,0,.1);
		-moz-box-shadow: 3px 3px 2px rgba(0,0,0,.1);
		box-shadow: 3px 3px 2px rgba(0,0,0,.1);
	font:normal 16px "Arial", sans-serif;
	color:#000;
	}
	form textarea {
		max-width:900px;
	width:600px;
	}
		form input:hover, form textarea:hover, select:hover {
		border: 2px solid #c2c2c2;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		}
		form input:focus, form textarea:focus, select:focus {
		border: 2px solid #a6a6a6;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		outline:none;
		}
		
/* - - - le bouton d'envoi - - - - */
form input[type=submit], form input[type=button] {
display: inline-block;
cursor: pointer;
text-align: center;
text-decoration: none;
font:bold 16px/100% Arial, Helvetica, sans-serif;
text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
background: #666666;
color:#fff;
padding:10px;
margin-top:10px;
}
	input[type=submit]:hover {
	cursor:pointer;
	}
	
/* - - - Les labels particuliers - - - - */
label[for=quickjump] {
font-weight:bold;
text-indent:10px;
text-transform:uppercase;
color:#333;
font-size:14px;
}

/* - - Les types Particuliers - - */
form input[type=email] {
background:#fff url('/public/css/images/email-d.png') center left scroll no-repeat;
padding-left:26px;
width:324px;
}
input[type=file]:hover {
border:none;
outline:none;
}
input[type=file] {
width:820px!important;
}
form input[type=email]:hover, form input[type=email]:focus {
background:#fff url('/public/css/images/email-d.png') center left scroll no-repeat;
}
form input[type=password] {
background:#fff url('/public/css/images/pass-d.png') center left scroll no-repeat;
padding-left:26px;
width:324px;
}
	form input[type=password]:hover, form input[type=password]:focus {
	background:#fff url('/public/css/images/pass-e.png') center left scroll no-repeat;
	}
	
form input[type=button] {
}
form input[type=number] {
}
	select {
	width:auto;
	}

/* see link à terminer */
#content p.see-link {
text-align:right;
padding-right:20px;
}
	#content p.see-link a{
	padding:5px;
	border:1px solid #999;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- 1 jQuerry -------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------- 2. Tabelau ------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
table {
margin:10px auto;
}
caption {
	letter-spacing:1px;
	font-size:1.1em;
	word-spacing:2px;
}
th{
background-color:#e6e6e6;
padding:7px;
font:bold 20px "Helvetica", "Arial", sans-serif;
text-shadow:1px 1px 0px #f8f8f8;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
	td {
	background-color:#f0f0f0;
	padding:13px;
	border-left:1px solid #d6d6d6;
	}
		td:first-child {
		border-left:2px solid #dedede;
		}
		td:last-child {
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomright:10px;
		-webkit-border-top-right-radius:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
		border-top-right-radius:10px;
		}
			td a{
			}