/*********************************************************************************************

Version : Pour la deuxième partie - ext

/***********************************************************************************************

0. CSS Reset  --------------------------------  Start ! (toutes les pages)

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. Start ---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.edevoir span {	-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-o-transform: rotate(-15deg);/*writing-mode: tb-rl;*/text-transform:lowercase!important;}

#content ul {margin:0; padding:0; list-style-type: circle; list-style-position:inside;}
#content a { text-decoration: none; color: #424242;}
#content a:hover { text-decoration: underline; color:#666;} 
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 1. Content -------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.content-base {
/*min-height:100%;
height:100%;*/

padding-top:15px;
width:1000px;
margin:auto;
background:#f1f1ef url('/public/css/images/content-y.jpg') top left scroll repeat-y; /*image y*/
padding-bottom:20px;
}
	section {
	padding: 0 35px;
	}
	
#content {
font:normal 17px/1.4em "Georgia", serif;
color:#5e5e5e;
}
	#content h2 {
	font:bold  24px/1.22em "Arial" "Helvetica", sans-serif;
	color:#676767;
	text-shadow:1px 1px 0px #fff;
	margin-top:10px;
	}
	/*#content h3 {
	font:bold  20px/1.22em "Verdana", "Geneva", sans-serif;
	color:#353232;
	padding:12px 0 8px 0;
	text-shadow:1px 1px 0px #fff;
	}*/
	#content p {
	text-shadow:1px 1px 0px #fff;
	}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- 1.1 Petites Classes -------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* - - message important - - */
.important, aside.doc-box  {
display: inline-block;
outline: 1px solid #FFFFFF;
outline-offset: -2px;
text-align: center;
font: 14px/100% Arial, Helvetica, sans-serif;
padding: .55em 1em .55em 1.3em;
text-shadow:1px 1px 0px #fff;
background: #ededed;
color:#c13f27;
border:1px solid #cecece;
margin:0 15px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
background:#f1f1ef url('/public/css/images/important.png') center left scroll no-repeat;
}

/* - - mini doc box bloc - - */
aside.doc-box {
padding-left:44px;
background:#f1f1ef url('/public/css/images/doc-box.png') center left scroll no-repeat;
font: 16px/100% Georgia, Helvetica, sans-serif;
color:#676767;
font-weight:bold;
text-align:left;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	border-radius: .25em;
}
aside.doc-box p{margin:0;}

	aside.doc-box:hover {
	background-color:#ececea!important;
	}
	aside.doc-box a{
	font-weight:normal;
	}
	
/* - - Doc-box sur Span - - */	
span.doc-input {
text-align: center;
background: #ededed;
color:#c13f27;
border:1px solid #cecece;
margin:10px; 10px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
-webkit-border-radius: .25em;
-moz-border-radius: .25em;
border-radius: .25em;
padding:5px;
outline: 1px solid #FFFFFF;
outline-offset: -2px;
}
	span.doc-input a {
	color:#7a7a7a!important;
	}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 2. Contact -------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
form {
	margin-top:10px;
padding: 0 0 15px 0;
}
	form label {
	font-family: Georgia, sans-serif;
	font-size: 13px;
	color: #29241c;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	width:auto;
	padding:0 10px 0 0;
	float: left;
	}
	input {
		-webkit-border-radius: .5em;
		-moz-border-radius: .5em;
		border-radius: .5em;
	color: #042d2e;
	font-size: 14px;
	margin: 0 0 5px 0; 
	padding: 2px 0 2px 5px;
	border: 2px solid #737373;
	}
	input[type=submit] {
		padding:5px;
		cursor: pointer;
		display: block;
		line-height: 0px;
	}
		
		

