/*********************************************************************************************

Version : Pour la deuxième partie - ext

/***********************************************************************************************

0. CSS Reset  --------------------------------  Start ! (toutes les pages)

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. CSS Reset -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.edevoir span {	
-webkit-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
-o-transform: rotate(-15deg);
/*writing-mode: tb-rl;*/
text-transform:lowercase!important;
}