/*********************************************************************************************

Version : partie blog
Couleur : Vert

/***********************************************************************************************

0. Start
1. Ribbon
2. title
3. Menu/logo

**********************************************************************************************/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. Start ---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.content-base #content a { text-decoration: none; color: #339933;}
.content-base #content a:hover { text-decoration: underline; color:#177117;} 
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 1. Ribbon --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ribbon a:hover {
color:#61b633;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 2. title --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
p.intro a {color:#c3eeab; border-bottom:1px solid;}
p.intro a:hover {color:#95d672; border-bottom:1px dashed;}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 3. Menu/logo -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#logo #section_logo a#a_logo {
	background:url('/public/css/images/logo-blo.png') top left scroll no-repeat; /*image*/
}