/*********************************************************************************************

Version : partie correcteur (couleurs)
Couleur Bleu

/***********************************************************************************************

0. Ribbon --------------------------------  ruban haut

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. Ribbon --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ribbon a:hover {
color:#1eaed2;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 1. Menu/logo -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#logo #logo-logo {
position:absolute;
top:0;
left:31px;
background:url('/public/css/images/logo-correcteur.jpg') top left scroll no-repeat; /*image*/
width:342px;
height:103px;
}