/*********************************************************************************************

Version : partie correcteur (couleurs)
Couleur Bleu

/***********************************************************************************************

0. Ribbon --------------------------------  ruban haut

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. Ribbon --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ribbon a:hover {
color:#1eaed2;
}
	#ribbon #ribbon-center {
	background:url('/public/css/images/top-c-correcteur.png') top scroll no-repeat; /*neutre*/
	}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 2. Menu/logo -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#logo #section_logo a#a_logo {
	background:url('/public/css/images/logo-cor.png') top left scroll no-repeat; /*image*/
}

	#logo-liens ul li a:hover {
	color:#fff;
	text-shadow:1px 1px 0px #1389ff;
	background:url('/public/css/images/menu_top-c-l.png') top left scroll no-repeat;
	}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
	/*#logo-liens:before {
	position:absolute;
	content: "";
	top:0;
	height:14px;
	width:25px;
	background: url('/public/css/images/index/menu-top.png') top left scroll no-repeat;
	}*/
			
		#logo-liens ul li a:hover span {
		height:33px;
		display:block;
		background:url('/public/css/images/menu_top-c-r.png') top right scroll no-repeat;
		cursor:pointer;
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 2. Ariane --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ariane .edevoir:hover {
color:#057cff;
}
	#ariane .see-link a:hover{
	background:url('/public/css/images/see-link.png') top left scroll no-repeat; /*image*/
	background-position:0px -36px;
	}