/*********************************************************************************************

Version : partie élève (couleurs)
Couleur Orange

/***********************************************************************************************

0. Start
1. Ribbon
2. Menu/logo 
3. Arianne 
4. Classes sur content
5. H2
6. Formulaires avancés
7. Tableau
8. jQuery

**********************************************************************************************/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. Start ---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.content-base #content a { text-decoration: none; color: #e06c0e;}
.content-base #content a:hover { text-decoration: underline; color:#7e3e13;}
::selection{background:#e06c0e; color:#fff; text-shadow:none}
::-moz-selection{background:#e06c0e; color:#fff; text-shadow:none}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 1. Ribbon --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ribbon a:hover {
color:#d29d1e;
}
	#ribbon #ribbon-center {
	background:url('/public/css/images/top-c-eleve.png') top scroll no-repeat; /*neutre*/
	}
	#ribbon-right a:hover {border-bottom:1px dashed #7e3e13;}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 2. Menu/logo -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#logo #section_logo a#a_logo {
	background:url('/public/css/images/logo-ele.png') top left scroll no-repeat; /*image*/
}

	#logo-liens ul li a:hover {
	color:#fff;
	text-shadow:1px 1px 0px #ff8812;
	background:url('/public/css/images/menu_top-e-l.png') top left scroll no-repeat;
	}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
			
		#logo-liens ul li a:hover span {
		height:33px;
		display:block;
		background:url('/public/css/images/menu_top-e-r.png') top right scroll no-repeat;
		cursor:pointer;
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 3. Ariane --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ariane .edevoir:hover {
color:#996600;
}
	#ariane .see-link a:hover{
	background:url('/public/css/images/see-link2.png') top left scroll no-repeat; /*image*/
	background-position:0px -18px;
	}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------- 4. Classes sur content ------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* - - mini doc box - - */
aside.doc-box a:hover { /*Ton 1*/
color:#f16c05!important;
}
	aside.doc-box:hover {
	border:1px solid #caaf9a;
	background:#f1f1ef url('/public/css/images/doc-box-h.png') center left scroll no-repeat;
	}
/* - - Titre sous H2 - - */	
.content-base p.intro {
color:#9f7356;
}
span.doc-input a:hover {  /*Ton 2*/
color:#c57309!important;
text-decoration:none!important;
}

	.a_creation-exercice {
	padding-left:20px;
	display:inline-block;
	background:url('/public/css/images/more.png') center left scroll no-repeat;
	}
	

	/* Les forms*/
	form input[type=email]:hover, form input[type=email]:focus {
	background:#fff url('/public/css/images/email-e.png') center left scroll no-repeat;
	}
	form input[type=password]:hover, form input[type=password]:focus {
	background:#fff url('/public/css/images/pass-e.png') center left scroll no-repeat;
	}
	
/*Paragraphes*/
p.action-detail a:hover{
background:url('/public/css/images/doc-e.png') top left scroll no-repeat;
padding-left:20px;
}
p.action-detail a {
color:#cb620e;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------- 5. Les H2 ---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.countable:after {
position:absolute;
top:-2px;
right:-11px;
line-height:60px;
text-indent:45px;
width:73px;
height:64px;
counter-increment: etape;
content: counter(etape) "";
background: url('/public/css/images/h2-avance.png') top no-repeat;
z-index:40;
}

h2#eleve-exercice-index {
background:url('/public/css/images/h2-eleve-exercice-index.png') top left scroll no-repeat;
}
h2#eleve-exercice-index-creation {
background:url('/public/css/images/h2-eleve-exercice-index-creation.png') top left scroll no-repeat;
}
h2#eleve-points-index {
background:url('/public/css/images/h2-eleve-points-index.png') top left scroll no-repeat;
}
h2#eleve-exercice-creation-classe {
background:url('/public/css/images/h2-eleve-exercice-creation-classe.png') top left scroll no-repeat;
}	
h2#eleve-exercice-creation-envoi {
background:url('/public/css/images/h2-eleve-exercice-creation-envoi.png') top left scroll no-repeat;
}
h2#eleve-exercice-creation-date {
background:url('/public/css/images/h2-eleve-exercice-creation-date.png') top left scroll no-repeat;
}
h2#eleve-exercice-creation-demande {
background:url('/public/css/images/h2-eleve-exercice-creation-demande.png') top left scroll no-repeat;
}	
h2#eleve-exercice-creation-info {
background:url('/public/css/images/h2-eleve-exercice-creation-info.png') top left scroll no-repeat;
}
h2#eleve-exercice-recapitulatif-envoi {
background:url('/public/css/images/h2-eleve-exercice-recapitulatif-envoi.png') top left scroll no-repeat;
}
h2#eleve-exercice-recapitulatif-infos {
background:url('/public/css/images/h2-eleve-exercice-recapitulatif-infos.png') top left scroll no-repeat;
}
h2#eleve-exercice-recapitulatif-fichiers {
background:url('/public/css/images/h2-eleve-exercice-recapitulatif-fichiers.png') top left scroll no-repeat;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------- 6. Les Forumlaires --------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
form input[type=text]:hover, input[type=number]:hover, input[type=tel]:hover, input[type=password]:hover, input[type=email]:hover, form textarea:hover, select:hover {
border: 2px solid #ff7000;
outline: 2px solid #e1e1e1;
outline-offset: -4px;
}
form input[type=text]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=email]:focus, form textarea:focus, select:focus {
border: 2px solid #c13f27;
outline:none;
}

/* - - le bouton Submit - - */
form input[type=submit], form input[type=button] {
color: #fef4e9;
border: solid 1px #da7c0c;
background: #f78d1d;
background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
	form input[type=submit]:hover, form input[type=button]:hover {
	border: solid 1px #f47c20;
	outline:none;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	}
		form input[type=submit]:active, form input[type=submit]:focus, form input[type=button]:active, form input[type=button]:focus {
		border: solid 1px #f47c20;
		background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
		background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------- 7. Tabelau ------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
th{
background-color:#e8d7be;
text-shadow:1px 1px 0px #ffefe0;
}
	td {
	background-color:#f1e9e3;
	border-left:1px solid #d8d1cc;
	}
	td:first-child {
	border-left:3px solid #dfc8a8;
	}