/*********************************************************************************************

Version : partie élève (couleurs)
Couleur Orange

/***********************************************************************************************

0. Ribbon --------------------------------  ruban haut

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. Ribbon --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ribbon a:hover {
color:#d29d1e;
}
.edevoir:hover {	
color:#d29d1e;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 1. Menu/logo -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#logo #logo-logo {
position:absolute;
top:0;
left:31px;
background:url('/public/css/images/logo-eleve.jpg') top left scroll no-repeat; /*image*/
width:342px;
height:103px;
}