/*********************************************************************************************

Version : partie élève (couleurs)
Couleur Orange

/***********************************************************************************************

0. Ribbon --------------------------------  ruban haut

**********************************************************************************************/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. Ribbon --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ribbon a:hover {
color:#d29d1e;
}
	#ribbon #ribbon-center {
	background:url('/public/css/images/top-c-eleve.png') top scroll no-repeat; /*neutre*/
	}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 1. Menu/logo -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#logo #logo-logo {
position:absolute;
top:0;
left:31px;
background:url('/public/css/images/logo-eleve.jpg') top left scroll no-repeat; /*image*/
width:342px;
height:103px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 2. Ariane --------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#ariane .edevoir:hover {
color:#996600;
}
	#ariane .see-link a:hover{
	background:url('/public/css/images/see-link.png') top left scroll no-repeat; /*image*/
	background-position:0px -18px;
	}