/*********************************************************************************************

Version : Pour la première partie - ext
Changements récents : 
HACK ie6,7 : / ? *
HACK ie6 : - _
Testé positivement sur : IE7, IE8, Safari, GoogleChrome, FireFox 

/***********************************************************************************************

0. CSS Reset  --------------------------------  Start ! (toutes les pages)
1. ribbon     --------------------------------  /section - Ruban haut
2. logo       --------------------------------  /section - Le logo / menu
3. Ariane     --------------------------------  /section - L'ariane - lien de retour -
4. Title      --------------------------------  /section - title (intro) -
5. Message    --------------------------------  /section - message (error, info, warning, ok -

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. CSS Reset -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

body {
margin: 0;
padding: 0; 
font-family: "Helvetica", "Arial", sans-serif; 
line-height: 1.4; 
color:#2f2d29;
background:#f1f1ef url('/public/css/images/repeat-top-x.jpg') top left scroll repeat-x; /*image r*/
height:65%;
counter-reset: etape;
}

html {font-size: 16px;height: 100%;}

ul {margin:0; padding:0; list-style-type:none;}
a { text-decoration: none; color: #666;}
a:visited {} 
a:hover, a:focus, a:active { text-decoration: none;} 
a:focus, a:active { outline: none; }
a img, hr {  border: none; }
em { font-style: italic; } /* autres */ 
strong { font-weight: bold; }

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 1. Content -------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.content-head {
width:1000px;
margin:auto;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 1. Ribbon --------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#content-ribbon{
height:59px; /*taille du bloc*/
width:1000px;
margin:auto;
background:#1b1c1d url('/public/css/images/spr_head.png') top left scroll no-repeat; /*CONTENT ribbon.jpg */
background-position:0 -567px;
}

	#ribbon-left {
	display:inline;
	line-height:52px;
	float:left;
	}
		#ribbon-right .deconnexion {
		margin-left:8px;
		position:relative;
		top:3px;
			border-bottom:none!important;
		}

	#ribbon-center {
	position:relative;
	top:6px;
	color:#fff;
	font:bold 20px/1.2em "Arno Pro", Georgia, serif;
	text-transform:uppercase;
	text-shadow: #323232 1px 1px 1px;
	text-align:center;
	padding-top:4px;
		background:url('/public/css/images/spr_head.png') top scroll no-repeat; /*neutre - top-c-doc.png*/
		background-position:-11px -514px;
		width:291px;
		height:39px;
		margin:auto;
	}
	
	#ribbon-right {
	display:inline;
	float:right;
	margin-top:-25px;
	}
	.pts {
	background:url('/public/css/images/spr_content.png') bottom left scroll no-repeat; /*pts.png*/
	background-position:-1px -1466px;
	padding-left:20px;
	}
		#ribbon, #ribbon a{
		color:#acacac;
		font:bold 16px/1.2em "Gill Sans MT", Georgia, serif;
		text-shadow: #000 1px 1px 1px;
		}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
			#ribbon-left a, #ribbon-right a {border-bottom:1px solid #656565;}
			#ribbon-left a:hover, ribbon-right a:hover {border-bottom:1px dashed #7b7b7b;}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------- 2. Logo --------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/	
#logo {
position:relative;
height:103px; /*taille du bloc*/
}
	#section_logo {
	position:absolute;
	top:0;
	left:31px;
	background:url('/public/css/images/spr_head.png') top left scroll no-repeat; /*logo-fond.png*/
	background-position:0 -271px;
	width:376px;
	height:103px;
	z-index:5;
	}
		#section_logo a#a_logo {
		position:absolute;
		top:25px;
		left:inherit;
		width:261px;
		height:61px;
		background:url('/public/css/images/logo-doc.png') top left scroll no-repeat; /*Gris */
		z-index:10;
		}
	
	#logo-liens {	
	}		
		#logo-liens ul {
		max-width:660px;
		position:absolute;
		z-index:15;
		right:35px;
		top:35px;
		}
			#logo-liens ul li {
			float:left;
			font-weight:bold;
			font-size:16px;
			}
				#logo-liens ul li a {
				height:33px;
				display:block;
				text-transform:uppercase;
				color:#777;
				line-height:34px;
				text-shadow:1px 1px 0px #fff;
				padding-left:15px;
				}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
					#logo-liens ul li a:hover {
					color:#fff;
					text-shadow:1px 1px 0px #737373;
					background:url('/public/css/images/spr_head.png') top left scroll no-repeat; /*menu_top-d-l.png */
					background-position:-631px -339px;
					}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
					
				#logo-liens ul li a span {
				padding-right:15px;
				}
					#logo-liens ul li a:hover span {
					height:33px;
					display:block;
					background:url('/public/css/images/menu_top-d-r.png') top right scroll no-repeat;
					cursor:pointer;
					}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------- 3. Ariane / see-link -------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/	
#ariane {
clear:both;
background:url('/public/css/images/spr_head.png') top left scroll no-repeat; /*CONTENT - ariane.jpg*/
background-position:0 -230px;
height:40px;
width:930px; /*débordement 1000*/
}
/*Lien de retour*/
#ariane .see-link {
float:right;
}
	#ariane .see-link a{
	background:url('/public/css/images/spr_head.png') top left scroll no-repeat; /*image see-link2.png*/
	background-position:-653px -339px;
	height:18px;
	display:block;
	padding-left:22px;
	margin-top:12px;
	font-weight:bold;
	color:#5c5c5c;
	text-shadow:1px 1px 0px #f8f8f8;
	}/* Couleur externe pour l'élève et le correcteur sur HOVER*/	
	#ariane .see-link a:hover {
	color:#000000;
	}

#ariane ul {
display:block;
height:40px;
}
	#ariane ul li {
	float:left;
	padding-right:40px;
	display:block;
	padding-top:15px;
	background:url('/public/css/images/ariane-sep.png') right bottom scroll no-repeat; /*ariane-sep.png*/
	}
		#ariane ul li a {
		color:#484848;
		font-size:16px;
		text-shadow:1px 1px 0px #f5f5f5;
		font-size:14px;
		}
		#ariane ul li:last-child a {
		font-weight:bold;
		}
		#ariane ul li a:hover {
		color:#202020;
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------- 4. Title -------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#content-title {
background:#494949 url('/public/css/images/title-r.jpg') top left scroll repeat-x; /*image r*/
height:auto;

}
#content-title p {margin:0; padding:0;}
#title {
clear:both;
background-color: #CCCCCC;
background:url('/public/css/images/spr_head.png') top left scroll no-repeat; /*CONTENT - title.jpg*/
background-position:0 0;
padding-top:5px;
width:931px; /*débordement (1000*/
margin:auto;
}
	#title h1, #title p{
	}
		#title h1 {
		color:#f0eeee;
		font:bold 35px/1.3em Georgia, Palatino, "Palatino Linotype", Times, serif;
		text-shadow:1px 1px 0px #292929;
		}
		#title p{
		padding-bottom:10px;
		color:#eaeaea;
		font:normal 21px/1.2em Georgia, Palatino, "Palatino Linotype", Times, serif;
		text-shadow:1px 1px 0px #000;
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------- 5. Message -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.message { /*délimitation du message sur 1000px dans le aside*/
position:relative;
padding-top:5px;
width:1000px;
margin:auto;
}
	.message p {
		padding:0 40px;
	}
	
/* -- Classe Globale -- */
#content-message {
padding:5px 0;
background:#f1f1ef url('/public/css/images/mess-message-r.jpg') center scroll repeat-x;
height:auto;
}
	#bottom-message {
	height:13px;
	background:url('/public/css/images/bottom-message-r.png') bottom scroll repeat-x;
	}

	#main-message p {margin:0; }
	
#main-message aside p:first-child {
font-weight:bold;
text-shadow:1px 1px 0px #fff;
}
/* icone avec before*/
aside.message:before {
position:absolute;
top:50%;
margin-top:-16px;
left:5px;
content: "";
height:32px;
width:32px;
z-index:10;/*laisse passer le doc-box a */
}

/* -- Classe Erreur / .error -- */		
#main-message #content-message.error {
padding-left:60px;
padding-right:5px;
background:#f1f1ef url('/public/css/images/mess-error-r.jpg') top scroll repeat-x;
}
#main-message #bottom-message.error {
height:13px;
background:url('/public/css/images/bottom-r.png') bottom scroll repeat-x;
}
	aside.error p:first-child, aside.error p:first-child a:hover {
	color:#d43b3e;
	}
aside.message.error:before {
background: url('/public/css/images/spr_message.png') top no-repeat; /*mess-error.png*/
background-position:-41px 0;
}

/* -- Classe OK / .ok -- */		
#main-message #content-message.ok {
padding-left:60px;
padding-right:5px;
background:#f1f1ef url('/public/css/images/mess-ok-r.jpg') top scroll repeat-x; 
}
#main-message #bottom-message.ok {
height:13px;
background:url('/public/css/images/bottom-ok-r.png') bottom scroll repeat-x;
}
	aside.ok p:first-child, aside.ok p:first-child a:hover {
	color:#006600;
	}
aside.message.ok:before {
background: url('/public/css/images/spr_message.png') top no-repeat; /*mess-ok.png*/
background-position:0 -40px;
}
	
/* -- Classe Information / .info -- */		
#main-message #content-message.info {
padding-left:60px;
padding-right:5px;
background:#f1f1ef url('/public/css/images/mess-info-r.jpg') top scroll repeat-x;
}
#main-message #bottom-message.info {
height:13px;
background:url('/public/css/images/bottom-info-r.png') top scroll repeat-x;
}
	aside.info p:first-child, aside.info p:first-child a:hover {
	color:#006699;
	text-shadow:1px 1px 0px #ebf8ff!important;
	}
aside.message.info:before {
background: url('/public/css/images/spr_message.png') top no-repeat; /*mess-info.png*/
background-position:-41px -39px;
}

/* -- Classe attention / .warning -- */		
#main-message #content-message.warning {
padding-left:60px;
padding-right:5px;
background:#f1f1ef url('/public/css/images/mess-warning-r.jpg') top scroll repeat-x; 
}
#main-message #bottom-message.warning {
height:13px;
background:url('/public/css/images/bottom-warning-r.png') top scroll repeat-x;
}
	aside.warning p:first-child, aside.warning p:first-child a:hover {
	color:#704508;
	text-shadow:1px 1px 0px #ebf8ff!important;
	}
aside.message.warning:before {
background: url('/public/css/images/spr_message.png') top no-repeat; /*mess-warn.png*/
background-position:0 0;
}

/* --  Message droite / Classe Global  -- */	
.message .doc-box-link a{
	z-index:20; /*pour contrer le before h2*/
position:absolute;
bottom:-30px;
right:70px;
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font:bold 14px/100% Arial, Helvetica, sans-serif;
padding: .4em 1em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
background: #666666;
color:#fff;
}
/* --  Message droite / .error / rouge  -- */	
	.message.error p.doc-box-link a {
	color: #fef4e9;
	border: solid 1px #943c31;
	background: #c5422e;
	background: -webkit-gradient(linear, left top, left bottom, from(#d74d38), to(#b43725)); /* clair > sombre*/
	background: -moz-linear-gradient(top,  #d74d38,  #b43725);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d74d38', endColorstr='#b43725');
	}
	.message.error p.doc-box-link a:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#d74d38), to(#90291b));
	background: -moz-linear-gradient(top,  #d74d38,  #90291b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d74d38', endColorstr='#90291b');
	}
	.message.error p.doc-box-link a:active {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#90291b), to(#d74d38));
	background: -moz-linear-gradient(top,  #90291b,  #d74d38);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#90291b', endColorstr='#d74d38');
	}

/* --  Message droite / .warning / orange  -- */	
	.message.warning p.doc-box-link a {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	}
	.message.warning p.doc-box-link a:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	}
	.message.warning p.doc-box-link a:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
	}
	
/* --  Message droite / .ok / vert  -- */	
	.message.ok p.doc-box-link a {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#86b232), to(#588312e));
	background: -moz-linear-gradient(top,  #86b232,  #588312);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#86b232', endColorstr='#588312');
	}
	.message.ok p.doc-box-link a:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
	}
	.message.ok p.doc-box-link a:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
	}

/* --  Message droite / .info / bleu  -- */	
	.message.info p.doc-box-link a {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #3496c7,  #2171b1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	}
	.message.info p.doc-box-link a:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	}
	.message.info p.doc-box-link a:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
	}