/*********************************************************************************************

Version : Pour la première partie - ext
Changements récents : 
HACK ie6,7 : / ? *
HACK ie6 : - _
Testé positivement sur : 

/***********************************************************************************************

0. CSS Reset  --------------------------------  Start ! (toutes les pages)
1. ribbon     --------------------------------  /section - Ruban haut
2. logo       --------------------------------  /section - Le logo / menu
3. Ariane     --------------------------------  /section - L'ariane - lien de retour -

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. CSS Reset -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { 
margin: 0;
padding: 0; 
font-family: Arial, Helvetica, sans-serif; 
font-size: 0.9em; 
line-height: 1.4; 
color:#4d4b45;
background:#f1f1ef url('/public/css/images/repeat-top-x.jpg') top left scroll repeat-x; /*image r*/
height:202px;
}

ul, p, h1 {margin:0; padding:0; list-style-type:none;}
a { text-decoration: none; color: #666;}
a:visited {  } 
a:hover, a:focus, a:active { text-decoration: none;} 
a:focus, a:active { outline: none; }
a img, hr {  border: none; }
em { font-style: italic; } /* autres */ 
strong { font-weight: bold; } 

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 1. Ribbon --------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
section, aside {
width:1000px;
margin:auto;
}

#ribbon{
height:59px; /*taille du bloc*/
width:1000px;
background:#1b1c1d url('/public/css/images/ribbon.jpg') top left scroll no-repeat; /*image*/
}
	#ribbon-left {
	padding-left:30px;
	display:inline;
	line-height:52px;
	float:left;
	}
	#ribbon-center {
	position:relative;
	top:6px;
	color:#fff;
	font:bold 20px/1.2em "Arno Pro", Georgia, serif;
	text-transform:uppercase;
	text-shadow: #323232 1px 1px 1px;
	text-align:center;
	padding-top:4px;
		background:url('/public/css/images/top-c-correcteur.png') top scroll no-repeat; /*correcteur*/
		width:291px;
		height:39px;
		margin:auto;
	}
	#ribbon-right {
	padding-right:45px;
	display:inline;
	float:right;
	margin-top:-25px;
	}
		#ribbon, #ribbon a{
		color:#acacac;
		font:bold 16px/1.2em "Gill Sans MT", Georgia, serif;
		text-shadow: #000 1px 1px 1px;
		}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------- 2. Logo --------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/	
#logo {
position:relative;
height:103px; /*taille du bloc*/
}
	#logo-logo {
	position:absolute;
	top:0;
	left:31px;
	background:url('/public/css/images/logo.jpg') top left scroll no-repeat; /*image*/
	width:342px;
	height:103px;
	}
	
	#logo-liens {
	}		
		#logo-liens ul {
		position:absolute;
		right:42px;
		top:35px;
		}
			#logo-liens ul li {
			display:inline;
			font-weight:bold;
			font-size:18px;
			padding-left:18px;
			}
				#logo-liens ul li a {
				text-transform:uppercase;
				color:#777;
				text-shadow:1px 1px 0px #fff;
				}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------- 3. Ariane / see-link -------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/	
#ariane {
clear:both;
background:url('/public/css/images/ariane.jpg') top left scroll no-repeat; /*image*/
height:40px;
}
/*Lien de retour*/
#ariane .see-link {
float:right;
}
	#ariane .see-link a{
	line-height:40px;
	}

#ariane ul {
}
	#ariane ul li {
	float:left;
	padding-right:35px;
	line-height:40px;
	}
		#ariane ul li a {
		font-size:14px;
		color:#484848;
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------- 4. Title -------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#title {
clear:both;
background-color: #CCCCCC;
}