/*********************************************************************************************

Version : Pour la première partie - ext
Changements récents : 
HACK ie6,7 : / ? *
HACK ie6 : - _
Testé positivement sur : IE7, IE8, Safari, GoogleChrome, FireFox 

/***********************************************************************************************

0. CSS Reset  --------------------------------  Start ! (toutes les pages)
1. ribbon     --------------------------------  /section - Ruban haut
2. logo       --------------------------------  /section - Le logo / menu
3. Ariane     --------------------------------  /section - L'ariane - lien de retour -
4. Title      --------------------------------  /section - title (intro) -
5. Message    --------------------------------  /section - message (error, info, warning etc.. -

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. CSS Reset -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

body {
margin: 0;
padding: 0; 
font-family: Arial, Helvetica, sans-serif; 
font-size: 0.9em; 
line-height: 1.4; 
color:#2f2d29;
background:#f1f1ef url('/public/css/images/repeat-top-x.jpg') top left scroll repeat-x; /*image r*/
height:202px;
}

ul, p {margin:0; padding:0; list-style-type:none;}
a { text-decoration: none; color: #666;}
a:visited {} 
a:hover, a:focus, a:active { text-decoration: none;} 
a:focus, a:active { outline: none; }
a img, hr {  border: none; }
em { font-style: italic; } /* autres */ 
strong { font-weight: bold; }

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 1. Content -------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.content-head {
width:1000px;
margin:auto;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- 1. Ribbon --------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#content-ribbon{
height:59px; /*taille du bloc*/
width:1000px;
margin:auto;
background:#1b1c1d url('/public/css/images/ribbon.jpg') top left scroll no-repeat; /*CONTENT*/
}

	#ribbon-left {
	display:inline;
	line-height:52px;
	float:left;
	}
	#ribbon-center {
	position:relative;
	top:6px;
	color:#fff;
	font:bold 20px/1.2em "Arno Pro", Georgia, serif;
	text-transform:uppercase;
	text-shadow: #323232 1px 1px 1px;
	text-align:center;
	padding-top:4px;
		background:url('/public/css/images/top-c-doc.png') top scroll no-repeat; /*neutre*/
		width:291px;
		height:39px;
		margin:auto;
	}
	#ribbon-right {
	display:inline;
	float:right;
	margin-top:-25px;
	}
		#ribbon, #ribbon a{
		color:#acacac;
		font:bold 16px/1.2em "Gill Sans MT", Georgia, serif;
		text-shadow: #000 1px 1px 1px;
		}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------- 2. Logo --------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/	
#logo {
position:relative;
height:103px; /*taille du bloc*/
}
	#section_logo {
	position:absolute;
	top:0;
	left:31px;
	background:url('/public/css/images/logo-fond.png') top left scroll no-repeat; /*image*/
	width:376px;
	height:103px;
	z-index:5;
	}
		#section_logo a#a_logo {
		position:absolute;
		top:25px;
		left:inherit;
		width:261px;
		height:58px;
		background:url('/public/css/images/logo-doc.png') top left scroll no-repeat; /*Gris*/
		z-index:10;
		}
	
	#logo-liens {	
	}		
		#logo-liens ul {
		max-width:660px;
		position:absolute;
		z-index:15;
		right:35px;
		top:35px;
		}
			#logo-liens ul li {
			float:left;
			font-weight:bold;
			font-size:16px;
			}
				#logo-liens ul li a {
				height:33px;
				display:block;
				text-transform:uppercase;
				color:#777;
				line-height:34px;
				text-shadow:1px 1px 0px #fff;
				padding-left:15px;
				}/* Couleur externe pour l'élève et le correcteur sur HOVER*/
				#logo-liens ul li a span {
				padding-right:15px;
				}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------- 3. Ariane / see-link -------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/	
#ariane {
clear:both;
background:url('/public/css/images/ariane.jpg') top left scroll no-repeat; /*CONTENT*/
height:40px;
width:930px; /*débordement 1000*/
}
/*Lien de retour*/
#ariane .see-link {
float:right;
}
	#ariane .see-link a{
	background:url('/public/css/images/see-link2.png') top left scroll no-repeat; /*image*/
	background-position:0px 0px;
	height:18px;
	display:block;
	padding-left:22px;
	margin-top:12px;
	}/* Couleur externe pour l'élève et le correcteur sur HOVER*/	
	#ariane .see-link a:hover {
	color:#000000;
	}

#ariane ul {
display:block;
height:40px;
padding-left:20px;
}
	#ariane ul li {
	float:left;
	padding-right:40px;
	display:block;
	padding-top:15px;
	background:url('/public/css/images/ariane-sep.png') right bottom scroll no-repeat;
	}
		#ariane ul li a {
		color:#484848;
		font-size:16px;
		text-shadow:1px 1px 0px #f5f5f5;
		font-size:14px;
		}
		#ariane ul li:last-child a {
		font-weight:bold;
		}
		#ariane ul li a:hover {
		color:#202020;
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------- 4. Title -------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
#content-title {
background:#f1f1ef url('/public/css/images/title-r.jpg') top left scroll repeat-x; /*image r*/
height:auto;
}

#title {
clear:both;
background-color: #CCCCCC;
background:url('/public/css/images/title.jpg') top left scroll no-repeat; /*CONTENT*/
padding-top:5px;
width:931px; /*débordement (1000*/
margin:auto;
}
	#title h1, #title p{
	padding:0 35px;
	}
		#title h1 {
		padding:0 35px;
		color:#f0eeee;
		font:bold 36px/1.4em Georgia, Palatino, "Palatino Linotype", Times, serif;
		text-shadow:1px 1px 0px #292929;
		}
		#title p{
		padding-bottom:10px;
		color:#eaeaea;
		font:normal 24px/1.2em Georgia, Palatino, "Palatino Linotype", Times, serif;
		text-shadow:1px 1px 0px #000;
		}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------- 5. Message -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.message { /*délimitation du message sur 1000px dans le aside*/
position:relative;
padding-top:5px;
width:1000px;
margin:auto;
}
	.message p {
	padding:0 35px;
	}
	
	
/* -- Classe Globale --*/
#content-message {
padding:5px 0;
background:#f1f1ef url('/public/css/images/message-r.jpg') center scroll repeat-x;
height:auto;
}
	#bottom-message {
	height:13px;
	background:url('/public/css/images/bottom-message-r.png') bottom scroll repeat-x;
	}


/* -- Classe Erreur / .error --*/		
#main-message #content-message.error {
padding:5px 0;
background:#f1f1ef url('/public/css/images/error-r.jpg') top scroll repeat-x; 
height:30px;
}
	aside.error p:first-child {
	color:#d43b3e;
	font-weight:bold;
	text-shadow:1px 1px 0px #fff;
	}
	
	
/*--  Message droite  --*/	
.message .doc-box-link a{
position:absolute;
bottom:-15px;
right:20px;
display:inline-block;
}	

/*message droite - A REVOIR*/
/*
.message .doc-box-link a{
position:absolute;
bottom:-15px;
right:20px;
display:inline-block;
padding:0 5px;
	color:#fff;
	text-shadow: 1px 1px 0px #921008;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;	
outline-offset: -2px;
-moz-box-shadow: inset 0px 0px 7px #943c31;
box-shadow: inset 0px 0px 7px #943c31;	
	background: #b43725 url("/public/css/images/message-doc-box-link-a-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;	

	*background: #b43725;
	background: #b43725\0/;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFd74d38, endColorstr=#FFb43725);
	 
@media all and (min-width: 0px) {

	background-image: -moz-linear-gradient(
	top,
	#d74d38,
	#b43725;
);
}
.message .doc-box-link a:hover {
}
*/