/*********************************************************************************************

Version : Pour l'index !
Changements récents : 

/***********************************************************************************************

0. CSS Reset  --------------------------------  Start !
1. Top Barre  --------------------------------  Première barre haut

**********************************************************************************************/

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- 0. CSS Reset -----------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
body { margin: 0; padding: 0; font-family: "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;font-size: 0.8em; line-height: 1.4;background-color:#efefed;/*F2F2F2*/ height: 100%;} 
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }


a { text-decoration: none; }
a:visited { color: #000; } 
a:hover, a:focus, a:active { text-decoration: underline;} 
a:focus, a:active { outline: none; }
a img, hr {  border: none; }

p { margin: .75em 0;} /* Paragraphes */  
em { font-style: italic; } /* autres */ 
strong { font-weight: bold; } 

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- 1. Top Barre --------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
